<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FoxType Spinner</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-3">
    <input type="email" placeholder="Your email" class="form-control">
  </div>
  <button class="btn btn-default">Sign Up</button>

  <button class="btn btn-primary pull-right" style="margin-right:15px" ng-click="appCtrl.rewrite()" ng-disabled="appCtrl.runDisabled">Run</button>

  <div class="clearfix" style="margin-bottom:20px"></div>

  <div class="col-sm-6">
    <input-editor value="appCtrl.inputText" rewrite-res="appCtrl.rewriteRes"></input-editor>
  </div>

  <div class="col-sm-6">
    <output-editor rewrite-res="appCtrl.rewriteRes"></output-editor>
  </div>
</div>
